body {
    
    background-image:linear-gradient(45deg, #2D4356, #435B66, #A76F6F,#EAB2A0);
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
    color: white; /* Define a cor do texto para branco para melhor legibilidade */
    margin: 0;
    padding: 90px;
    height:100vh; 
}
@keyframes degrade-animado{
    0%{
    background-position-x: 0%;
    }
    100%{
        background-position-x:100% ;
    }
}
nav {
    height: 90px;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    top: 0;
    position: fixed;
    left: 0; /* Deixe o valor de 'left' como 0 */
    right: 0; /* Adicione 'right' como 0 para estender o menu até a borda direita */
    text-align: center;
}


a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: aliceblue;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after{
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #333;
}
a:hover::after{
    width: 100%;

}


.conteudo-home {
    width: 100%; /* Preenche a largura da janela de visualização */
    height: 100vh; /* Preenche a altura da janela de visualização */
    background-color: #000; /* Cor de fundo preta (opcional) */
    color: #fff; /* Cor do texto (opcional) */
}
.container {
    display: flex;

    align-items: center;
    padding: 20px;
    
    color: white;
    
    box-sizing: border-box;
    height: 70vh; /* Define a altura como 100% da altura da janela */
}



.imagem {
    max-width: 35%; /* Define a largura máxima da imagem */
    height: a; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Adiciona espaço à direita da imagem */
    border-radius: 60px;
    width: 100%;
}

.texto {
    flex-grow: 1; /* Ocupa todo o espaço disponível restante */
    
}

.texto p {
    font-size: 125px; /* Define o tamanho da fonte do texto */
}

.container p {
    font-size: 100px; /* Define o tamanho da fonte do texto */
    color: #333; /* Define a cor do texto */
    text-align: right;
    margin-right: 10px;

}
.container h1 {

    font-size: 100px; /* Define o tamanho da fonte do texto */
    color: #333; /* Define a cor do texto */
    text-align: right;
    margin-right: 10px;

}
/* Estilização básica para a barra de navegação */
header {
    background-color: #050505; /* Cor de fundo da barra de navegação */
    color: white; /* Cor do texto da barra de navegação */
    padding: 10px 0; /* Espaçamento interno na barra de navegação */
}
/* Estilo padrão para telas maiores */
.header {
    font-size: 24px;
}

/* Estilo para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
    .header {
        font-size: 18px;
    }
}

.menu {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.menu ul {
    list-style: none; /* Remover marcadores de lista */
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline; /* Exibir itens de navegação em linha */
    margin-right: 20px; /* Espaçamento entre os itens de navegação */
}

.menu a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: white; /* Cor dos links na barra de navegação */
}



.slideshow-container {
    width: 800px; /* Defina a largura do container */
    position: absolute;
    left: 10; /* Posiciona o container à esquerda */
    top: 70%; /* Ajusta a posição verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
    overflow: hidden;
    
}

.slide {
    width: 100%;
    display: inline-block;
    transition: transform 1s ease-in-out;
    position: relative;
    top: 40px;
    
}

img {
    width: 70%;
    border-radius: 10px;

}

.fade {
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
